# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# mac
.DS_Store
*.hprof

src/main/resources/assets/librarianlibtest

# JVM crash reports

hs_err_pid*.log
replay_pid*.log

/docs
/dokka.txt
